<footer class="footer mt-auto py-3">
  <div class="container d-flex">
    <div class="footer-boxes">
      <img class="footer-logo" src="{{ site.baseurl }}/assets/images/logo-blanco.png" alt="Logo en blanco">
    </div>
    <div class="footer-boxes">
      <p>Gobierno Abierto Ciudad de México y Cuauhtémoc.</p>
      <p>Esta página es informativa y es mantenida por el Núcleo Promotor</p>  
    </div>
    <div class="footer-boxes">
      <p><a href="http://127.0.0.1:4000/ogplocal/#como-funciona">Cómo Funciona</a></p>
      <p><a href="http://127.0.0.1:4000/ogplocal/#participa">Participa</a></p>
      <p><a href="http://127.0.0.1:4000/ogplocal/#sobre-el-proceso">Sobre el proceso</a></p>
    </div>
  </div>
</footer>
