<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 border-bottom">
    <a href="{{ site.baseurl }}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <img src="{{ '/assets/images/logo.png' | prepend: site.baseurl }}" class="nav-logo me-3" alt="logo de OGP local">
    </a>

    <ul class="nav nav-pills align-items-center">
      <li class="nav-item"><a href="#" class="nav-link active">¿Cómo funciona?</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Participa</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Sobre el proceso</a></li>
    </ul>
  </header>
</div>
