---
---

.jumbotron
  background-image: url('/assets/images/jumbotron.png')
  background-size: cover

.jumbotron-title
  color: white
  font-weight: bold
.jumbotron-alcaldias
  color: white
.jumbotron-alcaldias-lista
  font-size: 1.7rem
  font-variation-settings: 'wght' 300

.eje-img
  height: 130px
  text-align: center
  margin: 1.5rem auto
.card-number
  height: 90px
  text-align: left
  margin-top: 1rem
