<div class="container my-5">
  <h2 class="fw-bold text-center my-5">Documentación</h2>
  <div class="row justify-content-center">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="{{ site.baseurl }}/assets/images/nucleo.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Aplicación al proceso</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="{{ site.baseurl }}/assets/images/nucleo.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Minutas de trabajo</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="{{ site.baseurl }}/assets/images/nucleo.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Elección del consejo asesor</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="{{ site.baseurl }}/assets/images/nucleo.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Espacio participativo</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
</div>
