<div class="container my-5">
  <h2 class="text-center fw-bold">¿Cómo funciona?</h2>

  <p>lorem ipsum</p>

  <div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-2">
      <img src="{{ site.baseurl }}/assets/images/ejes/genero.svg" class="eje-img" alt="imagen de Género e inclusión">
      <p>Género e inclusión</p>
    </div>
    <div class="col-md-2">
      <img src="{{ site.baseurl }}/assets/images/ejes/clima.svg" class="eje-img" alt="imagen de Cambio climático">
      <p>Cambio climático</p>
    </div>
    <div class="col-md-2">
      <img src="{{ site.baseurl }}/assets/images/ejes/presupuesto.svg" class="eje-img" alt="imagen de transparencia presupuestaria y contrataciones abiertas">
      <p>Transparencia presupuestaria y contrataciones abiertas</p>
    </div>
    <div class="col-md-2">
      <img src="{{ site.baseurl }}/assets/images/ejes/digital.svg" class="eje-img" alt="imagen de Gobierno digital">
      <p>Gobierno digital y acceso a servicios públicos</p>
    </div>
    <div class="col-md-2">
      <img src="{{ site.baseurl }}/assets/images/ejes/participacion.svg" class="eje-img" alt="imagen de participación ciudadana">
      <p>Participación ciudadana</p>
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>
