<div class="jumbotron">
  <div class="container text-center py-5">
    <img src="/assets/images/logo-alianza.png" class="my-4" alt="Logo de la alianza por el gobierno abierto, Ciudad de México y Cuauhtémoc.">
    <h1 class="jumbotron-title my-4">
      Ciudadanos y gobierno trabajando para mejorar la ciudad.
    </h1>
    <div class="jumbotron-alcaldias my-5">
      <h2 class="fw-bold mb-4">Alcaldías aliadas</h2>
      <div class="container">
        <div class="row">
          <div class="col-md-3">

          </div>

          <div class="col-md-6">
            <div class="container jumbotron-alcaldias-lista">

              <div class="row">
                <div class="col">
                  Azcapotzalco
                </div>
                <div class="col">
                  Milpa Alta
                </div>
              </div>

              <div class="row">
                <div class="col">
                  Coyoacán
                </div>
                <div class="col">
                  Venustiano Carranza
                </div>
              </div>

              <div class="row">
                <div class="col">
                  Iztapalapa
                </div>
                <div class="col">
                  Xochimilco
                </div>
              </div>

            </div>

          </div>

          <div class="col-md-3">

          </div>

        </div>
      </div>

    </div>
  </div>
</div>
