<div class="jumbotron">
  <div class="container text-center py-5">
    <div class="d-flex justify-content-center">
      <div><img class="hero-person" src="{{ site.baseurl }}/assets/images/hero/hombre.svg" alt=""></div>
      <div>
        <img src="{{ site.baseurl }}/assets/images/hero/hero.png" class="my-4" alt="Logo de la alianza por el gobierno abierto, Ciudad de México y Cuauhtémoc.">
        <div class="jumbotron-alcaldias my-3">
          <h3 class="fw-bold mb-4">Alcaldías aliadas</h3>
          <div class="container">
            <div class="row">
              <div class="col-md-2">
    
              </div>
    
              <div class="col-md-8">
                <div class="container jumbotron-alcaldias-lista">
    
                  <div class="row">
                    <div class="col">
                      Azcapotzalco
                    </div>
                    <div class="col">
                      Milpa Alta
                    </div>
                  </div>
    
                  <div class="row">
                    <div class="col">
                      Coyoacán
                    </div>
                    <div class="col">
                      Venustiano Carranza
                    </div>
                  </div>
    
                  <div class="row">
                    <div class="col">
                      Iztapalapa
                    </div>
                    <div class="col">
                      Xochimilco
                    </div>
                  </div>
    
                </div>
    
              </div>
    
              <div class="col-md-2">
    
              </div>
    
            </div>
          </div>
    
        </div>
    
      </div>
      <div><img class="hero-person" src="{{ site.baseurl }}/assets/images/hero/mujer.svg" alt=""></div>
  
    </div>
  </div>
</div>
