<section class="container">
  <h2 class="text-center my-5">¿Cómo me puedo involucrar?</h2>
  <div class="row justify-content-center">
    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <img src="{{ site.baseurl }}/assets/images/nucleo.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Nomina tu problemática</h5>
          <p class="card-text">Entra al formulario.</p>
          <button class="btn btn-primary">Comenzar</button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <img src="{{ site.baseurl }}/assets/images/consejo.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sigue el proceso</h5>
          <p class="card-text">lorem ipsum</p>

          <button class="btn btn-primary">Revisar</button>
        </div>
      </div>
    </div>
  </div>
  
</section>
