<img src="{{ site.baseurl }}/assets/images/ondita.svg" alt="ondita" class="ondita">
<section id="participa"> 
  <div class="container">
    <h2 class="text-center my-5 text-white">¿Cómo me puedo involucrar?</h2>
    <div class="row justify-content-evenly">
      <div class="col">
        <div class="card rounded-corners participa-card">
          <div class="card-body">
            <h5 class="card-title">Nomina tu problemática</h5>
            <p class="card-text">Entra al formulario.</p>
            <a href="https://codeandomexico.typeform.com/ogpcdmx" target="_blank">
              <button class="btn btn-primary">Comenzar</button>
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card rounded-corners participa-card">
          <div class="card-body">
            <h5 class="card-title">Vota</h5>
            <p class="card-text">Vota en la consulta del 10 al 12 de septiembre.</p>
            <button class="btn btn-primary" disabled>Proximamente</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card rounded-corners participa-card">
          <div class="card-body">
            <h5 class="card-title">Sigue el proceso</h5>
            <p class="card-text">En Plaza Pública encontrarás las diferentes fases del proceso, y los diferentes momentos en los que puedes participar.</p>
            <a href="https://plazapublica.cdmx.gob.mx/processes/plan-gobiernoabierto" target="_blank">
              <button class="btn btn-primary">Revisar</button>
            </a>  
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<img src="{{ site.baseurl }}/assets/images/ondita-bottom.svg" alt="ondita inferior" class="ondita">
