<div class="container my-5">
  <h2 class="fw-bold text-center my-5">¿Cómo me puedo involucrar?</h2>

  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
      <img src="{{ site.base-url }}/assets/images/numeros/1.svg" class="card-img-top card-number" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <button type="button" class="btn btn-primary">Participa</button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 18rem;">
      <img src="{{ site.base-url }}/assets/images/numeros/2.svg" class="card-img-top card-number" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <button type="button" class="btn btn-primary">Participa</button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 18rem;">
      <img src="{{ site.base-url }}/assets/images/numeros/3.svg" class="card-img-top card-number" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <button type="button" class="btn btn-primary">Participa</button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 18rem;">
      <img src="{{ site.base-url }}/assets/images/numeros/4.svg" class="card-img-top card-number" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <button type="button" class="btn btn-primary">Participa</button>
        </div>
      </div>
    </div>
  </div>



</div>
