<section>
  <div class="container mb-5">
    <h2 class="text-center title-organizan">¿Quiénes organizan?</h2>
    <div class="row justify-content-center">
      <div class="col">
        <div class="card card-organizadores rounded-corners">
          <!-- <img src="{{ site.baseurl }}/assets/images/nucleo.jpg" class="card-img-top" alt="..."> -->
          <div class="card-body">
            <h5 class="card-title">Núcleo promotor</h5>
            <p class="card-text">El grupo de organizaciones e instituciones que diseña y coordina el proceso</p>
            <ol class="card-text">
              <li><a href="https://www.avina.net">Fundación AVINA</a></li>
              <li><a href="https://ilsb.org.mx">Instituto Liderazgo Simone de Beauvoir</a></li>
              <li><a href="https://equis.org.mx">Equis Justicia</a></li>
              <li><a href="www.infocdmx.org.mx">InfoCDMX</a></li>
              <li><a href="https://alcaldiacuauhtemoc.mx">Alcaldía Cuauhtémoc</a></li>
              <li><a href="https://adip.cdmx.gob.mx/">Agencia Digital de Innovación Pública</a></li>
            </ol>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-organizadores rounded-corners">
          <!-- <img src="{{ site.baseurl }}/assets/images/consejo.jpg" class="card-img-top" alt="..."> -->
          <div class="card-body">
            <h5 class="card-title">Grupo asesor</h5>
            <p class="card-text">El grupo de espacialistas que asesoran el desarrollo de las actividades</p>
            <p class="card-text">
              <span class="fw-bold">4 organizaciones civiles</span> <br>
              <span class="fw-bold">7 personas expertas</span></p>
            <button class="btn btn-primary"><a href="https://plazapublica.cdmx.gob.mx/processes/convocatoria-grupoasesor-AGA/f/107/">Conócelos</a></button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-organizadores rounded-corners">
          <!-- <img src="{{ site.baseurl }}/assets/images/nucleo.jpg" class="card-img-top" alt="..."> -->
          <div class="card-body">
            <h5 class="card-title">Entes de la Administración Pública</h5>
            <p class="card-text">Las entidades que asumen los compromisos del Plan de Gobierno Abierto</p>
            <ol class="card-text">
              <li><a href="https://www.finanzas.cdmx.gob.mx">Secretaría de Administración y Finanzas</a></li>
              <li><a href="https://semujeres.cdmx.gob.mx">Secretaría de las Mujeres</a></li>
              <li><a href="https://www.sedema.cdmx.gob.mx">Secretaría de Medio Ambiente</a></li>
              <li><a href="https://www.sibiso.cdmx.gob.mx">Secretaría de Inclusión y Bienestar Social</a></li>
              <li><a href="https://adip.cdmx.gob.mx/">Agencia Digital de Innovación Pública</a></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
