<div class="container">
<h2 class="fw-bold text-center my-5">¿Quiénes somos?</h2>

<div class="row justify-content-center">
  <div class="col-md-3">
    <div class="card" style="width: 18rem;">
      <img src="/assets/images/nucleo.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Núcleo promotor</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card" style="width: 18rem;">
      <img src="/assets/images/consejo.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Grupo asesor</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>

</div>
</div>
