<section class="container">
  <h2 class="text-center my-5">¿Quiénes organizan?</h2>

  <div class="row justify-content-center">
    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <!-- <img src="{{ site.baseurl }}/assets/images/nucleo.jpg" class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title">Núcleo promotor</h5>
          <p class="card-text">El grupo que diseña y coordina el proceso</p>
          <ul class="card-text">
            <li><a href="https://www.avina.net">Fundación AVINA</a></li>
            <li><a href="https://www.avina.net">Instituto Liderazgo Simone de Beauvoir</a></li>
            <li><a href="https://www.avina.net">Equis Justicia</a></li>
            <li><a href="https://www.avina.net">InfoCDMX</a></li>
            <li><a href="https://www.avina.net">Alcaldía Cuauhtémoc</a></li>
            <li><a href="https://www.avina.net">Agencia Digital de Innovación Pública</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <!-- <img src="{{ site.baseurl }}/assets/images/consejo.jpg" class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title">Grupo asesor</h5>
          <p class="card-text">El grupo de espacialistas que asesoran el desarrollo de las actividades</p>
          <ul class="card-text">
            <li><a href="https://www.avina.net">Fundación AVINA</a></li>
            <li><a href="https://www.avina.net">Instituto Liderazgo Simone de Beauvoir</a></li>
            <li><a href="https://www.avina.net">Equis Justicia</a></li>
            <li><a href="https://www.avina.net">InfoCDMX</a></li>
            <li><a href="https://www.avina.net">Alcaldía Cuauhtémoc</a></li>
            <li><a href="https://www.avina.net">Agencia Digital de Innovación Pública</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <!-- <img src="{{ site.baseurl }}/assets/images/nucleo.jpg" class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title">Entidades e instituciones</h5>
          <p class="card-text">Las entidades que asumen los compromisos</p>
          <ul class="card-text">
            <li><a href="https://www.avina.net">Fundación AVINA</a></li>
            <li><a href="https://www.avina.net">Instituto Liderazgo Simone de Beauvoir</a></li>
            <li><a href="https://www.avina.net">Equis Justicia</a></li>
            <li><a href="https://www.avina.net">InfoCDMX</a></li>
            <li><a href="https://www.avina.net">Alcaldía Cuauhtémoc</a></li>
            <li><a href="https://www.avina.net">Agencia Digital de Innovación Pública</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
