<section>
    <div class="container">
        <ul class="timeline">
            <li>
                <img src="assets/images/numeros/1.svg" alt="1" class="numero">
                <div class="active"><a class="active" href="">Problemáticas</a></div>
                <p class="timeline-fecha">19 julio - 15 de agosto</p>
                <p class="timeline-descripcion">
                    ¿Cómo te gustaría mejorar la ciudad? Nomina tu problemática
                </p>
            </li>
            <li>
                <img src="assets/images/numeros/2.svg" alt="1" class="numero">
                <div><a href="">Votaciones</a></div>
                <p class="timeline-fecha">27 - 29 de agosto</p>
                <p class="timeline-descripcion">
                    Vota por la problemática que creas más relevante en cada eje
                </p>
            </li>
            <li>
                <img src="assets/images/numeros/3.svg" alt="1" class="numero">
                <div><a href="">Co-creación</a></div>
                <p class="timeline-fecha">1 - 10 de septiembre</p>
                <p class="timeline-descripcion">
                    Diseñaremos proyectos en conjunto para atender las problemáticas seleccionadas
                </p>
            </li>
            <li>
                <img src="assets/images/numeros/4.svg" alt="1" class="numero">
                <div><a href="">Compromisos</a></div>
                <p class="timeline-fecha">30 de septiembre</p>
                <p class="timeline-descripcion">
                    La ciudad implementará los proyectos diseñados. Dales seguimiento
                </p>
            </li>
        </ul>
    </div>
    <!-- <img class="timeline" src="assets/images/timeline.png"> -->
</section>